@import url("https://fonts.googleapis.com/css2?family=Acme&family=Fira+Sans:wght@200&family=Jockey+One&family=Poppins&display=swap");
body {
  font-family: "poppins";
}

.prog-line {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    rgba(2, 0, 36, 1) 0%,
    rgb(136, 171, 223) 100%
  );
}
