.l{
    width: 90px;
    height: 90px;
    background-color: black;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}
.user_img{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    align-self: center;
    object-fit: cover;
   
}
.logo-s{
    width: 100%;
    display: flex;
    justify-content: center;
}
.file{
    display: none;
}