.img-cont{
    animation: bg 15s infinite alternate;
    background-position: 0 0;
}

@keyframes bg {
    from{
        background-position: 0% 0%;
       }
     to{
        background-position: 100% 100%;
       } 
}

.logo{
    font-size: 80px;
    color: transparent;
    -webkit-text-stroke: 1px white;
    background-image: url("https://media.istockphoto.com/id/1127199612/photo/aurora-borealis-over-snowy-mountains-frozen-sea-coast-reflection-in-water-at-night-lofoten.jpg?s=2048x2048&w=is&k=20&c=vUMb746s471l-n3GHf4F-YYz0vAQ9XE2rRaManq8qpo=");
    background-size: contain;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite ;
}


@keyframes back {
    100%{
     background-position: 2000px 0;
    }    
 }

 .head-logo{
    font-size: 80px;
    color: transparent;
    -webkit-text-stroke: 1px white;
    background-image: url("https://cdn4.vectorstock.com/i/1000x1000/35/13/wave-wallpaper-shiny-blue-and-green-background-vector-10093513.jpg");
    background-size: contain;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite ;
 }
 @media (max-width:600px) {
    .logo{
        font-size: 40px;
    }
    .head-logo{
        font-size: 20px;
    }
}